<div class="container">
  <div class="row" id="first-row">
    <div class="col-md-2"></div>
    <div class="col-md-4" id="natura"><a href="/natura"><h2>NATURĂ</h2></a></div>
    <div class="col-md-4" id="cultura"><a href="/cultura"><h2>CULTURĂ</h2></a></div>
    <div class="col-md-2"></div>
  </div>
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-4" id="arhitectura"><a href="/arhitect"><h2>ARHITECTURĂ</h2></a></div>
    <div class="col-md-4" id="gastro"><a href="/gastro"><h2>GASTRONOMIE</h2></a></div>
    <div class="col-md-2"></div>
  </div>

</div>
